# Descriptive Statistic
[Short Description](./assets/Descriptive%20Statistic.pptx)

With the given data

creating the data frame using this dictionary
(you may copy the source code and paste it in your code editor)
```python
data = {
    'section 1':[13,8,18.5,8.5,12.5,12,8.5,7.5,6.5,13,14,8.5,8.5,15,11,12.5],
    'section 2':[10,7,12,15,11,13.5,13,13,3,7.5,15,8,11.5,5,10,11],
    'section 3':[16,14,16,15,15,19,15.5,17,12,15,17,15,16,17,14,13],
    'section 4':[12,6.5,12.5,16.5,17,20,10,12,2,5,9,10,18,12.5,7,13]
}
frame = pd.DataFrame(data)
frame
```

In [1]:
import pandas as pd

In [2]:
data = {
    'section 1':[13,8,18.5,8.5,12.5,12,8.5,7.5,6.5,13,14,8.5,8.5,15,11,12.5],
    'section 2':[10,7,12,15,11,13.5,13,13,3,7.5,15,8,11.5,5,10,11],
    'section 3':[16,14,16,15,15,19,15.5,17,12,15,17,15,16,17,14,13],
    'section 4':[12,6.5,12.5,16.5,17,20,10,12,2,5,9,10,18,12.5,7,13]
}
frame = pd.DataFrame(data)
frame

    section 1  section 2  section 3  section 4
0        13.0       10.0       16.0       12.0
1         8.0        7.0       14.0        6.5
2        18.5       12.0       16.0       12.5
3         8.5       15.0       15.0       16.5
4        12.5       11.0       15.0       17.0
5        12.0       13.5       19.0       20.0
6         8.5       13.0       15.5       10.0
7         7.5       13.0       17.0       12.0
8         6.5        3.0       12.0        2.0
9        13.0        7.5       15.0        5.0
10       14.0       15.0       17.0        9.0
11        8.5        8.0       15.0       10.0
12        8.5       11.5       16.0       18.0
13       15.0        5.0       17.0       12.5
14       11.0       10.0       14.0        7.0
15       12.5       11.0       13.0       13.0

to get all the description, use the function describe
```python
frame.describe()
```

In [3]:
frame.describe()

       section 1  section 2  section 3  section 4
count  16.000000  16.000000  16.000000  16.000000
mean   11.093750  10.343750  15.406250  11.437500
std     3.277289   3.462748   1.705078   4.918926
min     6.500000   3.000000  12.000000   2.000000
25%     8.500000   7.875000  14.750000   8.500000
50%    11.500000  11.000000  15.250000  12.000000
75%    13.000000  13.000000  16.250000  13.875000
max    18.500000  15.000000  19.000000  20.000000

We can get only some described statistic by calling the related methods
```python
frame.count()
```

In [4]:
frame.count()

section 1    16
section 2    16
section 3    16
section 4    16
dtype: int64

In addition, we can find the described statistic for only some parameter
```python
frame['section 1'].min()
```

In [5]:
frame['section 1'].min()

6.5

All descriptive function which can be called is provided


![image-20230806163647409](./assets/image-20230806163647409.png)

You may try calling the functions
```python
farme.var()
```

In [7]:
frame.var()

section 1    10.740625
section 2    11.990625
section 3     2.907292
section 4    24.195833
dtype: float64

In some statisticl data, like correlation, and covariance are compare from pairs of parameter

Lest's download the data of the stock prices and volumes obtained from Yahoo! finance and calculate for the covarience

The yfinance which is the third party library is used to get the data from Yahoo! finance (the original pandas_datareader is not working with Yahoo! finance anymore) [yfinance](https://pypi.org/project/yfinance/)

To install the library, you may use the following command
```python
!pip install yfinance
```

In [9]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\dell\anaconda3\lib\site-packages (0.2.31)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: pytz>=2022.5 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: html5lib>=1.1 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: requests>=2.31 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: peewee>=3.16.2 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (3.17.0)
Requirement already satisfied: numpy>=1.16.5 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (1.23.5)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (2.3.8)
Requirement already satisfied: soupsieve>1.2 in c:\users\dell\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: webencodings in c:\users\dell\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)

**Note** Yahoo has updated their api, so we need the fixed version of pandas_datareader which implemented the new api provided by third party. (The official one is still wait for the pull request for this update)

The following code is used to get the data from Yahoo! finance
```python
import pandas as pd
import yfinance as yf
all_data = {ticker: yf.Ticker(ticker).history(period="10y")
            for ticker in ['GOOG','IBM']}
all_data

```

In [10]:
import pandas as pd
import yfinance as yf
all_data = {ticker: yf.Ticker(ticker).history(period="10y")
            for ticker in ['GOOG','IBM']}
all_data

{'GOOG':                                  Open        High         Low       Close  \
 Date
 2013-10-31 00:00:00-04:00   25.627193   25.940767   25.503656   25.668289
 2013-11-01 00:00:00-04:00   25.698425   25.803284   25.531801   25.580118
 2013-11-04 00:00:00-05:00   25.691202   25.712872   25.455338   25.556955
 2013-11-05 00:00:00-05:00   25.413494   25.694939   25.340519   25.442635
 2013-11-06 00:00:00-05:00   25.544254   25.579123   25.289459   25.473270
 ...                               ...         ...         ...         ...
 2023-10-24 00:00:00-04:00  139.160004  140.710007  138.750000  140.119995
 2023-10-25 00:00:00-04:00  129.770004  130.100006  126.089996  126.669998
 2023-10-26 00:00:00-04:00  124.470001  125.459999  122.320000  123.440002
 2023-10-27 00:00:00-04:00  124.029999  124.440002  121.459999  123.400002
 2023-10-30 00:00:00-04:00  124.459999  126.550003  123.879997  125.750000

                              Volume  Dividends  Stock Splits
 Date
 2013-10-31 00:00:00-04:00  65845885        0.0           0.0
 2013-11-01 00:00:00-04:00  51524405        0.0           0.0
 2013-11-04 00:00:00-05:00  45722740        0.0           0.0
 2013-11-05 00:00:00-05:00  47433127        0.0           0.0
 2013-11-06 00:00:00-05:00  36652871        0.0           0.0
 ...                             ...        ...           ...
 2023-10-24 00:00:00-04:00  26535200        0.0           0.0
 2023-10-25 00:00:00-04:00  58796100        0.0           0.0
 2023-10-26 00:00:00-04:00  33907400        0.0           0.0
 2023-10-27 00:00:00-04:00  37349000        0.0           0.0
 2023-10-30 00:00:00-04:00  24156100        0.0           0.0

 [2516 rows x 7 columns],
 'IBM':                                  Open        High         Low       Close  \
 Date
 2013-10-31 00:00:00-04:00  113.547215  114.823950  113.161665  113.269112
 2013-11-01 00:00:00-04:00  113.648353  113.983342  113.060551  113.281769
 2013-11-04 00:00:00-05:00  113.705237  114.274084  113.351292  113.939095
 2013-11-05 00:00:00-05:00  113.477712  113.642044  112.321062  112.409554
 2013-11-06 00:00:00-05:00  113.051366  114.220576  112.968759  113.864731
 ...                               ...         ...         ...         ...
 2023-10-24 00:00:00-04:00  136.740005  137.979996  136.050003  137.789993
 2023-10-25 00:00:00-04:00  137.500000  138.490005  136.330002  137.080002
 2023-10-26 00:00:00-04:00  142.199997  144.410004  141.580002  143.759995
 2023-10-27 00:00:00-04:00  143.619995  144.699997  141.710007  142.520004
 2023-10-30 00:00:00-04:00  143.190002  144.500000  142.580002  142.630005

                              Volume  Dividends  Stock Splits
 Date
 2013-10-31 00:00:00-04:00   4516733   0.000000           0.0
 2013-11-01 00:00:00-04:00   3812147   0.000000           0.0
 2013-11-04 00:00:00-05:00   3643532   0.000000           0.0
 2013-11-05 00:00:00-05:00   6377253   0.000000           0.0
 2013-11-06 00:00:00-05:00   4770492   0.908222           0.0
 ...                             ...        ...           ...
 2023-10-24 00:00:00-04:00   3698000   0.000000           0.0
 2023-10-25 00:00:00-04:00   6472500   0.000000           0.0
 2023-10-26 00:00:00-04:00  11130200   0.000000           0.0
 2023-10-27 00:00:00-04:00   5468900   0.000000           0.0
 2023-10-30 00:00:00-04:00   4204100   0.000000           0.0

 [2516 rows x 7 columns]}

The data is stored in the dictionary, you can get the data of each stock by calling the key of the dictionary
```python
all_data['GOOG']
```

In [11]:
all_data['GOOG']

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-10-31 00:00:00-04:00,25.627193,25.940767,25.503656,25.668289,65845885,0.0,0.0
2013-11-01 00:00:00-04:00,25.698425,25.803284,25.531801,25.580118,51524405,0.0,0.0
2013-11-04 00:00:00-05:00,25.691202,25.712872,25.455338,25.556955,45722740,0.0,0.0
2013-11-05 00:00:00-05:00,25.413494,25.694939,25.340519,25.442635,47433127,0.0,0.0
2013-11-06 00:00:00-05:00,25.544254,25.579123,25.289459,25.473270,36652871,0.0,0.0
...,...,...,...,...,...,...,...
2023-10-24 00:00:00-04:00,139.160004,140.710007,138.750000,140.119995,26535200,0.0,0.0
2023-10-25 00:00:00-04:00,129.770004,130.100006,126.089996,126.669998,58796100,0.0,0.0
2023-10-26 00:00:00-04:00,124.470001,125.459999,122.320000,123.440002,33907400,0.0,0.0
2023-10-27 00:00:00-04:00,124.029999,124.440002,121.459999,123.400002,37349000,0.0,0.0
2023-10-30 00:00:00-04:00,124.459999,126.550003,123.879997,125.750000,24156100,0.0,0.0

we can extract create the data frame of price from each stock
```python
price = pd.DataFrame({ticker: data['Close']
                      for ticker, data in all_data.items()})
price
```

In [12]:
price = pd.DataFrame({ticker: data['Close']
                      for ticker, data in all_data.items()})
price

                                 GOOG         IBM
Date
2013-10-31 00:00:00-04:00   25.668289  113.269112
2013-11-01 00:00:00-04:00   25.580118  113.281769
2013-11-04 00:00:00-05:00   25.556955  113.939095
2013-11-05 00:00:00-05:00   25.442635  112.409554
2013-11-06 00:00:00-05:00   25.473270  113.864731
...                               ...         ...
2023-10-24 00:00:00-04:00  140.119995  137.789993
2023-10-25 00:00:00-04:00  126.669998  137.080002
2023-10-26 00:00:00-04:00  123.440002  143.759995
2023-10-27 00:00:00-04:00  123.400002  142.520004
2023-10-30 00:00:00-04:00  125.750000  142.630005

[2516 rows x 2 columns]

and create the data frame of Volume
```python
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})
volume
```

In [13]:
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})
volume

                               GOOG       IBM
Date
2013-10-31 00:00:00-04:00  65845885   4516733
2013-11-01 00:00:00-04:00  51524405   3812147
2013-11-04 00:00:00-05:00  45722740   3643532
2013-11-05 00:00:00-05:00  47433127   6377253
2013-11-06 00:00:00-05:00  36652871   4770492
...                             ...       ...
2023-10-24 00:00:00-04:00  26535200   3698000
2023-10-25 00:00:00-04:00  58796100   6472500
2023-10-26 00:00:00-04:00  33907400  11130200
2023-10-27 00:00:00-04:00  37349000   5468900
2023-10-30 00:00:00-04:00  24156100   4204100

[2516 rows x 2 columns]

The data frame of price and volume are shown as given
```python
price['GOOG']
price['IBM']
```

In [14]:
price['GOOG']
price['IBM']

Date
2013-10-31 00:00:00-04:00    113.269112
2013-11-01 00:00:00-04:00    113.281769
2013-11-04 00:00:00-05:00    113.939095
2013-11-05 00:00:00-05:00    112.409554
2013-11-06 00:00:00-05:00    113.864731
                                ...
2023-10-24 00:00:00-04:00    137.789993
2023-10-25 00:00:00-04:00    137.080002
2023-10-26 00:00:00-04:00    143.759995
2023-10-27 00:00:00-04:00    142.520004
2023-10-30 00:00:00-04:00    142.630005
Name: IBM, Length: 2516, dtype: float64

The percent changed of each day is calculated as time series (described in later class) is shown as given

**Hint** tail() function is used to show the last data, the default is 5 data, you may change the number of showed data by add the number you want to show as the input parameter of the tail methods

```python
returns = price.pct_change()
returns.tail()
```

In [15]:
returns = price.pct_change()
returns.tail()

                               GOOG       IBM
Date
2023-10-24 00:00:00-04:00  0.016099  0.010339
2023-10-25 00:00:00-04:00 -0.095989 -0.005153
2023-10-26 00:00:00-04:00 -0.025499  0.048731
2023-10-27 00:00:00-04:00 -0.000324 -0.008625
2023-10-30 00:00:00-04:00  0.019044  0.000772

The corr method, and cov methods will calculate the correlation and covarience of the overlapping, non-NA,
aligned-by-index values in two Series
```python
returns['GOOG'].corr(returns['IBM'])
returns['GOOG'].cov(returns['IBM'])
```

In [16]:
returns['GOOG'].corr(returns['IBM'])
returns['GOOG'].cov(returns['IBM'])

0.00010360698611918747

we can call pct_change() method to calculate the percent change of each day

So we can calculate the correlation between the price change and volume change
```python
changePrice['GOOG'].corr(volumeChange['GOOG'])
price['GOOG'].corr(volume['GOOG'])
```

In [17]:
changePrice['GOOG'].corr(volumeChange['GOOG'])
price['GOOG'].corr(volume['GOOG'])

NameError: name 'changePrice' is not defined

# Described statistic Hand ons

You can get the data frame of exchange rate between THB



and USD using the given source code.
The provider of the data is from [Fred, St.Louis Fed](https://fred.stlouisfed.org/), you can search for many data provided by them using the given code and change the reader index to the value you want to get





![image.png]()

The pandas data reader is used to get the data from the given source
We need to upgrade the pandas_datareader to read the new format of the web site using the given code

```
!pip install pandas_datareader --upgrade
```

In [18]:
!pip install pandas_datareader --upgrade

Requirement already satisfied: pandas_datareader in c:\users\dell\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas_datareader) (2.31.0)
Requirement already satisfied: pandas>=0.23 in c:\users\dell\anaconda3\lib\site-packages (from pandas_datareader) (1.5.3)
Requirement already satisfied: lxml in c:\users\dell\anaconda3\lib\site-packages (from pandas_datareader) (4.9.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.23.5)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2023.7.22)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.14)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)

To get the exchange rate from the FRED (Federal Reserve Economic Data) from the given code
```python
import pandas_datareader.data as web
thusd = web.get_data_fred('DEXTHUS')
thusd
```

In [19]:
import pandas_datareader.data as web
thusd = web.get_data_fred('DEXTHUS')
thusd

            DEXTHUS
DATE
2018-11-01    32.93
2018-11-02    32.85
2018-11-05    32.96
2018-11-06    32.92
2018-11-07    32.81
...             ...
2023-10-23    36.34
2023-10-24    36.15
2023-10-25    36.15
2023-10-26    36.31
2023-10-27    36.18

[1302 rows x 1 columns]

**Task** Write the code to show the minimum exchnage rate, maximum exchange rate
the standard deriviation, the exchange rate which at percentile 90

In [20]:
min_rate = thusd.min()

max_rate = thusd.max()

std_dev = thusd.std()

percentile_90 = thusd.quantile(0.90)

print("Minimum Exchange Rate:\n", min_rate)
print("\nMaximum Exchange Rate:\n", max_rate)
print("\nStandard Deviation of Exchange Rate:\n", std_dev)
print("\n90th Percentile of Exchange Rate:\n", percentile_90)

Minimum Exchange Rate:
 DEXTHUS    29.75
dtype: float64

Maximum Exchange Rate:
 DEXTHUS    38.28
dtype: float64

Standard Deviation of Exchange Rate:
 DEXTHUS    2.006161
dtype: float64

90th Percentile of Exchange Rate:
 DEXTHUS    35.628
Name: 0.9, dtype: float64

get the date which the mininum exchange rate, maximum exchnage rate, and the exchange rate which is at percentilie 90 are

In [21]:
date_min_rate = thusd.idxmin()
date_max_rate = thusd.idxmax()

percentile_90 = thusd.quantile(0.90)

date_percentile_90 = thusd[thusd >= percentile_90].dropna().index.min()

print("Date with Minimum Exchange Rate:\n", date_min_rate)
print("\nDate with Maximum Exchange Rate:\n", date_max_rate)
print("\nDate with Exchange Rate at 90th Percentile:\n", date_percentile_90)

Date with Minimum Exchange Rate:
 DEXTHUS   2019-12-31
dtype: datetime64[ns]

Date with Maximum Exchange Rate:
 DEXTHUS   2022-10-14
dtype: datetime64[ns]

Date with Exchange Rate at 90th Percentile:
 2022-07-05 00:00:00

**Hint**: to get the index name of the data you need, you can use the code example

In [ ]:
import numpy as np
a = pd.DataFrame(np.arange(10).reshape(5,2),columns=['c1','c2'])
# get the list of index name which the value in series c1 is equal to 8
a.c1[a.c1 == 8].index.tolist()

In [22]:
import numpy as np
a = pd.DataFrame(np.arange(10).reshape(5,2),columns=['c1','c2'])
# get the list of index name which the value in series c1 is equal to 8
a.c1[a.c1 == 8].index.tolist()

[4]

#### Task

Loading the Crude Oild Prices from fred (using this data "Crude Oil Prices: Brent - Europe"),
Show the covarience, and correlation of the value the oil price  and the exchange rate. and the covarience, and corelation of the percent change for both of them.

In [23]:
import pandas_datareader.data as web

thusd = web.get_data_fred('DEXTHUS')


oil_prices = web.get_data_fred('POILBREUSDM')

data = pd.concat([thusd, oil_prices], axis=1).dropna()
data.columns = ['USD_THB', 'Oil_Price']

covariance = data.cov()
correlation = data.corr()

data_pct_change = data.pct_change().dropna()

covariance_pct_change = data_pct_change.cov()
correlation_pct_change = data_pct_change.corr()

print("Covariance:\n", covariance)
print("\nCorrelation:\n", correlation)
print("\nCovariance of Percentage Changes:\n", covariance_pct_change)
print("\nCorrelation of Percentage Changes:\n", correlation_pct_change)

Covariance:
              USD_THB   Oil_Price
USD_THB     3.756215   24.703165
Oil_Price  24.703165  446.663769

Correlation:
             USD_THB  Oil_Price
USD_THB    1.000000   0.603097
Oil_Price  0.603097   1.000000

Covariance of Percentage Changes:
             USD_THB  Oil_Price
USD_THB    0.000999  -0.001964
Oil_Price -0.001964   0.020359

Correlation of Percentage Changes:
             USD_THB  Oil_Price
USD_THB    1.000000  -0.435519
Oil_Price -0.435519   1.000000

# Data Loading

Pandas support many data loading scheme and Data sources

There are many format that the pandas support

Start by the very simple one, the csv file

csv is standed for comma seperate value, the value is seperated by the comma you can see the example [here](./examples/example.csv)

The ex1.csv is provided n the examples folder

you can check the content using notepads or in IDEs

Then we create the dataframe from the given csv file
```python
df = pd.read_csv('examples/ex1.csv')
df
```

In [24]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Some file may not contain a header row, for example this [file ex2.csv](./examples/ex2.csv)

We can assign default column names
```python
pd.read_csv('examples/ex2.csv', header=None)
```

In [25]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

or we can set the name ourselves
```python
pd.read_csv('examples/ex2.csv', names=['a','b','c','d','message'])
```

In [26]:
pd.read_csv('examples/ex2.csv', names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

What if we missed the column name, what will be return?
```python
pd.read_csv('examples/ex2.csv', names=['c','d','message'])
```

In [27]:
pd.read_csv('examples/ex2.csv', names=['c','d','message'])

       c   d message
1 2    3   4   hello
5 6    7   8   world
9 10  11  12     foo

If we want to form the hierachical index from multiple column, you can use the [file csv_mindex.csv](./examples/csv_mindex.csv), and the code as given
```python
parsed = pd.read_csv('examples/csv_mindex.csv')
parsed
```

In [28]:
parsed = pd.read_csv('examples/csv_mindex.csv')
parsed

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

the index column can be set
```python
parsed = pd.read_csv('examples/csv_mindex.csv',
                     index_col=['key1','key2'])
parsed
```

In [29]:
parsed = pd.read_csv('examples/csv_mindex.csv',
                     index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

To write the csv from pandas, symply use to_csv method.

read the data from the example file
```python
data = pd.read_csv('examples/ex3.csv')
data
```

In [30]:
data = pd.read_csv('examples/ex3.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

Write out the file

then refresh the Files pane to see the output
```python
data.to_csv('examples/out.csv')
```

In [31]:
data.to_csv('examples/out.csv')

Check the content of the file in out.csv, and ex3.csv

We can redirect the output to the console to see the output before writing the file, using the `sys.stdout` instead of the file name
In addition

We can change the seperator using the given snippet

and handle with the NaN data using the `na_rep` parameter
```python
import  sys
data.to_csv(sys.stdout)
data.to_csv(sys.stdout,sep='|')

data.to_csv(sys.stdout, na_rep = 'NULL')
```

In [32]:
import  sys
data.to_csv(sys.stdout)
data.to_csv(sys.stdout,sep='|')

data.to_csv(sys.stdout, na_rep = 'NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo
|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo
,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

# Handons loading csv

With the given [file sample.csv](./examples/samples.csv), create the DataFrame which is similar to the data frame in

![image-20230806173037975](./assets/image-20230806173037975.png)

In [47]:
df=pd.read_csv('examples/samples.csv', names=['section 1','section 2','section 3','section 4'])
df.head()

   section 1  section 2  section 3  section 4
0       13.0       10.0       16.0       12.0
1        8.0        7.0       14.0        6.5
2       18.5       12.0       16.0       12.5
3        8.5       15.0       15.0       16.5
4       12.5       11.0       15.0       17.0

and then select only the index which total score (the summation score in section 1,2,3,4 is more than 50 and write out to the file name out1.csv)

In [48]:
df['total_score'] = df.sum(axis=1)

filtered_df = df[df['total_score'] > 50]

filtered_df.to_csv('out1.csv', index=False)

In [49]:
filtered_df.head()

   section 1  section 2  section 3  section 4  total_score
0       13.0       10.0       16.0       12.0         51.0
2       18.5       12.0       16.0       12.5         59.0
3        8.5       15.0       15.0       16.5         55.0
4       12.5       11.0       15.0       17.0         55.5
5       12.0       13.5       19.0       20.0         64.5

# Reading the Excel file

One of the popular data source is the excel file
We can get the pandas retrive the data to the data frame for further implementation.

With the [example file](examples/ex1.xlsx), load the file as given

Then we have to import the excel file using the given code
```python
xlsx = pd.ExcelFile('examples/ex1.xlsx')
xlsx
```
**note** if there are some errors occur, please find the way to fix it :P

In [33]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')
xlsx

Then we have to select which sheet we want to retrieve data
```python
df = pd.read_excel(xlsx,'Sheet1')
df
```

In [34]:
df = pd.read_excel(xlsx,'Sheet1')
df

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

`The unnamed`: column is shown as there is some special data is stored in the excel file, so we can filter it using the given code
```python
df = df[df.filter(regex='^(?!Unnamed)').columns]
df
```

In [35]:
df = df[df.filter(regex='^(?!Unnamed)').columns]
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Or we can make the read_excel shorter than call 2 times as given
```python
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame
```

In [36]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

If the data frame is in the first row, and first column, we can specified the start row, and column.
For example, the given [file](https://drive.google.com/open?id=1FAwZewZknR-eQKTVJELoVrpKdpxjEQ1U)

```python
frame = pd.read_excel('examples/samples.xlsx',sheet_name='Sheet1',
                      index_col= 0,usecols="B:K",

                      skiprows=4,nrows=33)
frame
```

In [37]:
frame = pd.read_excel('examples/samples.xlsx',sheet_name='Sheet1',
                      index_col= 0,usecols="B:K",

                      skiprows=4,nrows=33)
frame

,Name,Last Name,Attendance (5),Lab (15),Project (10),Midterm (30),Final (40),Total,Grade
ID,,,,,,,,,
492115002,KANNIGA,SAGON,5,10.828125,7.914062,8.7,10.000000,42.442188,D
492115003,KASIN,VISRUTAVANIJ,5,11.390625,8.195312,14.0,11.666667,50.252604,C
492115004,KITTIKUN,PANSAILOM,4,11.343750,7.671875,15.8,11.666667,50.482292,C
492115007,KANITTA,MOONLAPONG,5,13.453125,9.226562,19.5,28.333333,75.513021,A
492115008,JARUWAN,WANNAGOAT,5,11.437500,8.218750,14.2,20.000000,58.856250,C+
492115009,JIRAPHAT,JOKDEE,5,12.703125,8.851562,22.4,21.666667,70.621354,A
492115010,JENJIRA,JAIMUNK,5,12.750000,8.875000,20.6,15.833333,63.058333,B
492115012,CHOMPUNUT,SOIJIT,5,12.890625,8.945312,23.9,17.500000,68.235938,B+
492115014,THITI,SUNUNTA,5,12.562500,8.781250,21.4,13.333333,61.077083,B
492115015,NATTAKORN,KIRDKAEW,5,12.140625,8.570312,18.5,15.833333,60.044271,B
492115016,NATTHAPONG,IWANA,5,12.375000,8.687500,12.0,17.500000,55.562500,C+
492115017,NUTTAWADEE,SURIYANUNT,4,11.906250,7.953125,12.7,9.166667,45.726042,D+
492115018,SONGSAK,MAMEA,5,10.921875,7.960938,11.5,7.500000,42.882812,D
492115021,TANAKORN,TACHAWUTTIPAT,5,11.671875,8.335938,13.9,17.500000,56.407812,C+
492115022,TISINEE,SURAPUNT,4,12.093750,8.046875,18.8,20.833333,63.773958,B
492115023,THEERAPAT,SRITHARATHIKHUN,5,12.281250,8.640625,22.8,20.000000,68.721875,B+
492115024,NOOTSARA,INTAPUN,5,12.046875,8.523438,15.6,23.333333,64.503646,B
492115027,PONGPIJIT,UTTRAMAPOKRAY,5,13.200000,9.100000,15.0,13.333333,55.633333,C+
492115030,PANUWAT,THEEKAPORN,5,13.450000,9.225000,13.2,15.833333,56.708333,C+
492115031,PANUPONG,BANDITPURITAT,5,12.375000,8.687500,19.8,17.500000,63.362500,B
492115032,PAWINEE,SUBPAN,5,12.609375,8.804688,11.6,20.833333,58.847396,C+
492115034,PEERAWAT,POOMBUA,3,12.984375,7.992188,16.8,16.666667,57.443229,C+
492115035,MAYSINEE,CHANACHOMPU,4,13.171875,8.585938,13.2,13.333333,52.291146,C
492115036,RAPIPORN,BANJAREARN,4,14.156250,9.078125,14.4,12.500000,54.134375,C
492115037,WARITSARA,JITMUN,5,13.265625,9.132812,16.2,11.666667,55.265104,C+
492115038,WALAILUCK,SUWANNASOPON,4,13.218750,8.609375,12.0,15.833333,53.661458,C
492115039,WATCHARAPONG,MOONRIN,5,11.625000,8.312500,23.6,23.333333,71.870833,A
492115040,SIWAPORN,MANOCHOMPHU,4,13.687500,8.843750,14.2,15.000000,55.731250,C+
492115041,SUTTIPONG,INTAYA,4,14.718750,9.359375,19.8,24.166667,72.044792,A
492115042,SUTTIPONG,PUNYAWORASIN,4,13.078125,8.539062,11.2,15.000000,51.817188,C
492115043,SUPAPORN,KOMLUE,5,13.968750,9.484375,8.4,11.666667,48.519792,D+
492115044,SURAKIT,SUKJUN,5,12.328125,8.664062,19.0,10.000000,54.992188,C
492115045,APITCHAKA,SINGJAI,5,12.609375,8.804688,16.4,9.166667,51.980729,C

**Hint,** to show all row you may set it by


The default value is 10
```python
pd.set_option('display.max_rows', None)
```

In [38]:
pd.set_option('display.max_rows', None)

### Task
Frame the sample.xlsx data frame.

Try to show the students whose grade is C, C+


then show the lowest score to get C, the highest score to get C+

In [40]:
import pandas as pd

frame = pd.read_csv('examples/samples.csv')

pd.set_option('display.max_rows', None)

frame.head()

     13    10    16    12
0   8.0   7.0  14.0   6.5
1  18.5  12.0  16.0  12.5
2   8.5  15.0  15.0  16.5
3  12.5  11.0  15.0  17.0
4  12.0  13.5  19.0  20.0

# Getting data from Web APIs

Some web site provide the WebAPIs which we can receive data using json object
Try to click on this [link](https://api.github.com/repos/pandas-dev/pandas/issues)

you will see the list of last 30 GitHub issue for pandas on Github,
we can add read the data using the Python as given
```python
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp
```

In [41]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

The response object show the response code (200 means it is successfully downloaded)

To read the data which come with it. Use the json method
```python
data = resp.json()
data
```

In [42]:
data = resp.json()
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55772',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55772/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55772/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55772/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/55772',
  'id': 1969625270,
  'node_id': 'PR_kwDOAA0YD85eMBS8',
  'number': 55772,
  'title': 'BUG: `DataFrame.resample` changing index type to `MultiIndex` when dataframe is empty and upsampling',
  'user': {'login': 'Charlie-XIAO',
   'id': 108576690,
   'node_id': 'U_kgDOBni_sg',
   'avatar_url': 'https://avatars.githubusercontent.com/u/108576690?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/Charlie-XIAO',
   'html_url': 'https://github.com/Charlie-XIAO',
   'followers_url': 'https://api.github.com/users/Charlie-XIAO/followers',
   'following_url': 'https://api.github.com/users/Charlie-XIAO/following{/other_user}',
   'gists_url': 'https://api.github.com/users/Charlie-XIAO/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/Charlie-XIAO/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/Charlie-XIAO/subscriptions',
   'organizations_url': 'https://api.github.com/users/Charlie-XIAO/orgs',
   'repos_url': 'https://api.github.com/users/Charlie-XIAO/repos',
   'events_url': 'https://api.github.com/users/Charlie-XIAO/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/Charlie-XIAO/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2023-10-31T04:34:12Z',
  'updated_at': '2023-10-31T04:35:33Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/55772',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/55772',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/55772.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/55772.patch',
   'merged_at': None},
  'body': '- [x] Closes #55572\r\n- [x] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests)\r\n- [x] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit)\r\n- [x] Added an entry in the latest `doc/source/whatsnew/v2.1.3.rst` file\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55772/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55772/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55771',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55771/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55771/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55771/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/55771',
  'id': 1969492226,
  'node_id': 'PR_kwDOAA0YD85eLkoY',
  'number': 55771,
  'title': 'BUG: to_datetime with empty string',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2023-10-31T01:54:59Z',
  'updated_at': '2023-10-31T02:01:01Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/55771',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/55771',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/55771.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/55771.patch',
   'merged_at': None},
  'body': '- [ ] closes #xxxx (Replace xxxx with the GitHub issue number)\r\n- [x] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n\r\nSurfaced while imlpementing #55564',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55771/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55771/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55770',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55770/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55770/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55770/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/55770',
  'id': 1969473120,
  'node_id': 'PR_kwDOAA0YD85eLgmY',
  'number': 55770,
  'title': 'CI: Fix concurrency group for new CoW warn build',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 48070600,
    'node_id': 'MDU6TGFiZWw0ODA3MDYwMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/CI',
    'name': 'CI',
    'color': 'a2bca7',
    'default': False,
    'description': 'Continuous Integration'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2023-10-31T01:30:47Z',
  'updated_at': '2023-10-31T01:30:47Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/55770',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/55770',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/55770.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/55770.patch',
   'merged_at': None},
  'body': 'Currently `concurrency.group` has the same key for the CoW builds with 1/warn, causing builds to be canceled',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55770/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55770/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55768',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55768/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55768/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55768/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/55768',
  'id': 1969223111,
  'node_id': 'PR_kwDOAA0YD85eKqIi',
  'number': 55768,
  'title': 'BUG: OutOfBoundsDatetime with non-nano dt64tz dtype',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2023-10-30T21:04:23Z',
  'updated_at': '2023-10-30T21:05:27Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/55768',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/55768',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/55768.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/55768.patch',
   'merged_at': None},
  'body': '- [x] closes #54620 (Replace xxxx with the GitHub issue number)\r\n- [x] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [x] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n\r\nUpdated version of #54620.\r\n\r\nProgress towards #55564',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55768/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55768/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55767',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55767/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55767/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55767/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/55767',
  'id': 1968972947,
  'node_id': 'I_kwDOAA0YD851XCST',
  'number': 55767,
  'title': 'PERF: Surprisingly slow nlargest with duplicates in the index',
  'user': {'login': 'paddymul',
   'id': 40453,
   'node_id': 'MDQ6VXNlcjQwNDUz',
   'avatar_url': 'https://avatars.githubusercontent.com/u/40453?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/paddymul',
   'html_url': 'https://github.com/paddymul',
   'followers_url': 'https://api.github.com/users/paddymul/followers',
   'following_url': 'https://api.github.com/users/paddymul/following{/other_user}',
   'gists_url': 'https://api.github.com/users/paddymul/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/paddymul/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/paddymul/subscriptions',
   'organizations_url': 'https://api.github.com/users/paddymul/orgs',
   'repos_url': 'https://api.github.com/users/paddymul/repos',
   'events_url': 'https://api.github.com/users/paddymul/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/paddymul/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 8935311,
    'node_id': 'MDU6TGFiZWw4OTM1MzEx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Performance',
    'name': 'Performance',
    'color': 'a10c02',
    'default': False,
    'description': 'Memory or execution speed performance'},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 3,
  'created_at': '2023-10-30T18:24:40Z',
  'updated_at': '2023-10-30T20:37:56Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'body': "### Pandas version checks\n\n- [X] I have checked that this issue has not already been reported.\n\n- [X] I have confirmed this issue exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [ ] I have confirmed this issue exists on the main branch of pandas.\n\n\n### Reproducible Example\n\n```\r\nN = 1500\r\nslow_df = pd.DataFrame({'a': np.arange(N)}, index=[pd.NA] * N)\r\n%timeit slow_df['a'].nlargest()\r\n\r\nfast_df = pd.DataFrame({'a': np.arange(N)})\r\n%timeit fast_df['a'].nlargest()\r\n```\r\nresults in\r\n```\r\n448 ms ± 9.63 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)\r\n105 µs ± 850 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)\r\n```\r\nso 4000 times slower with a non unique index.  This was very surprising.\n\n### Installed Versions\n\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit              : e86ed377639948c64c429059127bcf5b359ab6be\r\npython              : 3.11.5.final.0\r\npython-bits         : 64\r\nOS                  : Darwin\r\nOS-release          : 20.6.0\r\nVersion             : Darwin Kernel Version 20.6.0: Fri Dec 16 00:34:59 PST 2022; root:xnu-7195.141.49~1/RELEASE_ARM64_T8101\r\nmachine             : arm64\r\nprocessor           : arm\r\nbyteorder           : little\r\nLC_ALL              : None\r\nLANG                : en_US.UTF-8\r\nLOCALE              : en_US.UTF-8\r\n\r\npandas              : 2.1.1\r\nnumpy               : 1.26.0\r\npytz                : 2023.3.post1\r\ndateutil            : 2.8.2\r\nsetuptools          : 68.0.0\r\npip                 : 23.2.1\r\nCython              : None\r\npytest              : 7.4.2\r\nhypothesis          : None\r\nsphinx              : 7.2.6\r\nblosc               : None\r\nfeather             : None\r\nxlsxwriter          : None\r\nlxml.etree          : None\r\nhtml5lib            : None\r\npymysql             : None\r\npsycopg2            : None\r\njinja2              : 3.1.2\r\nIPython             : 8.16.1\r\npandas_datareader   : None\r\nbs4                 : 4.12.2\r\nbottleneck          : None\r\ndataframe-api-compat: None\r\nfastparquet         : None\r\nfsspec              : None\r\ngcsfs               : None\r\nmatplotlib          : 3.8.0\r\nnumba               : None\r\nnumexpr             : None\r\nodfpy               : None\r\nopenpyxl            : 3.1.2\r\npandas_gbq          : None\r\npyarrow             : 11.0.0\r\npyreadstat          : None\r\npyxlsb              : None\r\ns3fs                : None\r\nscipy               : 1.11.3\r\nsqlalchemy          : None\r\ntables              : None\r\ntabulate            : None\r\nxarray              : None\r\nxlrd                : None\r\nzstandard           : None\r\ntzdata              : 2023.3\r\nqtpy                : None\r\npyqt5               : None\r\n\r\n</details>\r\n\n\n### Prior Performance\n\n_No response_",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55767/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55767/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55765',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55765/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55765/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/55765/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/55765',
  'id': 1968618866,
  'node_id': 'I_kwDOAA0YD851Vr1y',
  'number': 55765,
  'title': 'BUG: describe started rounding reported percentile 99.999% to 100%',
  'user': {'login': 'AlbertoEAF',
   'id': 3976753,
   'node_id': 'MDQ6VXNlcjM5NzY3NTM=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/3976753?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/AlbertoEAF',
   'html_url': 'https://github.com/AlbertoEAF',
   'followers_url': 'https://api.github.com/users/AlbertoEAF/followers',
   'following_url': 'https://api.github.com/users/AlbertoEAF/following{/other_user}',
   'gists_url': 'https://api.github.com/users/AlbertoEAF/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/AlbertoEAF/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/AlbertoEAF/subscriptions',

To filter the data, The json is similar to the list of map data structure, we use the index, and key to get the data
```python
data[0]['title']
```

In [43]:
data[0]['title']

'BUG: `DataFrame.resample` changing index type to `MultiIndex` when dataframe is empty and upsampling'

So we can create the the dataframe from the given json object
```python
issues = pd.DataFrame(data, columns=['number','title',
                                     'labels','state'])
issues
```

In [44]:
issues = pd.DataFrame(data, columns=['number','title',
                                     'labels','state'])
issues

,number,title,labels,state
0,55772,BUG: `DataFrame.resample` changing index type ...,[],open
1,55771,BUG: to_datetime with empty string,[],open
2,55770,CI: Fix concurrency group for new CoW warn build,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
3,55768,BUG: OutOfBoundsDatetime with non-nano dt64tz ...,[],open
4,55767,PERF: Surprisingly slow nlargest with duplicat...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
5,55765,BUG: describe started rounding reported percen...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
6,55764,Revert logic for _constructor selection in _co...,[],open
7,55763,BUG: pandas 2.1.2 changes how `copy` works,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
8,55762,DOC: Fixes DataFrame.replace documentation,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
9,55761,BUG: DatetimeIndex.diff raising TypeError,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
10,55760,BUG: Inconsistent Boolean Cell format in Outpu...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
11,55759,Issue # 51044,[],open
12,55758,Update _core.py to show valid plot types in th...,"[{'id': 2413328, 'node_id': 'MDU6TGFiZWwyNDEzM...",open
13,55754,fixed bug where pd.NA was being cast to NaN du...,[],open
14,55753,BUG: No kwargs in `df.apply(raw=True)`,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
15,55752,BUG: DatetimeIndex.diff() broken (dtype timede...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
16,55745,CoW - don't try to update underlying values of...,"[{'id': 2085877452, 'node_id': 'MDU6TGFiZWwyMD...",open
17,55742,BUG: fix nanmedian for CoW without bottleneck,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
18,55741,POC/ENH: infer resolution in array_to_datetime,[],open
19,55739,DEPS: Test NEP 50,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
20,55738,REF: Compute complete result_index upfront in ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
21,55737,BUG: inferred Timestamp unit with dateutil paths,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
22,55736,PERF: Use fused types for map_infer_mask,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
23,55734,DEPR: errors='ignore',[],open
24,55733,BUG: incompatible dtype when creating string c...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
25,55732,[NOT FOR MERGE] Test enabling Copy-on-Write by...,"[{'id': 2085877452, 'node_id': 'MDU6TGFiZWwyMD...",open
26,55731,BUG: pd.read_parquet with first batch full of ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,55730,BUG: assert_frame_equal fails with AttributeEr...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,55728,BUG: incorrect handling of line breaks in OdsW...,[],open
29,55726,fix segfault with tz_localize_to_utc,"[{'id': 60458168, 'node_id': 'MDU6TGFiZWw2MDQ1...",open

Getting data from other source
---
Pandas provide the tools to get historic data from many remote data source [link text](https://pydata.github.io/pandas-datareader/remote_data.html)
Some of them required the key, some are not. You can see the usage in the given link.


![image.png]()

What you have to do is just add the code to the correct provider

The list of datasource is also [shown](https://github.com/wilsonfreitas/awesome-quant#data-sources)

In [46]:
import pandas_datareader as pdr

df = pdr.get_data_fred('GDP')
print(df.head())

                  GDP
DATE
2019-01-01  21104.133
2019-04-01  21384.775
2019-07-01  21694.282
2019-10-01  21902.390
2020-01-01  21706.513