# Programming Flow

- The program flows from the beginning to the end

- We have to think as a flow chart.

  ![download (1)](./assets/download(1).png)

## Sequential Flow

The program is call from one line to the other line

Before writing the code

What is the output of

```python
x = 2
y = x + 2
z = y ** 2

print (z)
```

### Task

Now write the code to see the output

In [1]:
x = 2
y = x + 2
z = y ** 2

print (z)

16

## Boolean Expression

- The flow of the code could be only sequenctial.
- The decision is also required

**To make a decision** We need to make the choice

> Boolean data type

a data type that has one of two possible values

- True
- False

Try

```python
True
```

In [2]:
True

True

```python
False
```

In [3]:
False

False

## Boolean Operations

The value is calculated by the comparison

Using the mathematics

What is the result of

```python
1 > 2
```

Then try to code

In [4]:
1 > 2

False

With the variable, the value which is kept in the variable is used to calculate

What is the result of

```
x = 1
y = 2
y < x
```

Then try to code

In [5]:
x = 1
y = 2
y < x

False

### Relational Operation

The mathematic operation

compare the values

What are these result data types?

<table>
<thead>
<tr>
<th style="text-align:center">Operator</th>
<th style="text-align:center">Meaning</th>
<th style="text-align:center">Example</th>
<th style="text-align:center">Result</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">==</td>
<td style="text-align:left">equals</td>
<td style="text-align:left">1 + 1 == 2</td>
<td style="text-align:center"><input type="text"></td>
</tr>
<tr>
<td style="text-align:center">!=</td>
<td style="text-align:left">does not equal</td>
<td style="text-align:left">3.2 != 2.5</td>
<td style="text-align:center"><input type="text"></td>
</tr>
<tr>
<td style="text-align:center">&lt;</td>
<td style="text-align:left">less than</td>
<td style="text-align:left">10 &lt; 5</td>
<td style="text-align:center"><input type="text"></td>
</tr>
<tr>
<td style="text-align:center">&gt;</td>
<td style="text-align:left">greater than</td>
<td style="text-align:left">10 &gt; 5</td>
<td style="text-align:center"><input type="text"></td>
</tr>
<tr>
<td style="text-align:center">&lt;=</td>
<td style="text-align:left">less than or equal to</td>
<td style="text-align:left">126 &lt;= 100</td>
<td style="text-align:center"><input type="text"></td>
</tr>
<tr>
<td style="text-align:center">&gt;=</td>
<td style="text-align:left">Greater than or equal to</td>
<td style="text-align:left">5.0 &gt;= 5.0</td>
<td style="text-align:center"><input type="text"></td>
</tr>
</tbody>
</table>

**Then** try to write the code to see the result!!

In [7]:
1+1==2

True

In [8]:
3.2!=2.5

True

In [9]:
10<5

False

In [10]:
10>5

True

In [11]:
126<=100

False

In [12]:
5>=5.0

True

## Selective Flows

Selective flow is to select which code will be executed

- The boolean expression is required.
- Help to select the **block** of code

### if

If will check that if the expression is true, then the code will be selected

![download (3)](./assets/download(3).png)

Try to write this code and run.

```python
gpa = 3.4
if gpa > 2.0:
  print ('Your application is accepted.')
```

then try to change your GPA  to 1.5 and see the result

In [13]:
gpa = 3.4
if gpa > 2.0:
  print ('Your application is accepted.')

Your application is accepted.

### If-Else

if/else: Execute one block of states if a certain condition is `True`

and the second block statements if it is `False`

Syntax:

> if **condition**:
>
> ​	**statements**
>
> else:
>
> ​	**statements**

Flow example as follows:

![download (4)](./assets/download(4).png)

Try to type the code

```python
gpa = 1.4
if gpa > 2.0:
  print ('Welcome to CMU University')
else:
  print ('Your application is denied')
```

In [14]:
gpa = 1.4
if gpa > 2.0:
  print ('Welcome to CMU University')
else:
  print ('Your application is denied')

Your application is denied

### Indentation

- Group of statements
  - Define by putting in the same indentation
  - A set of blocks of statements that will execute under the same condition
- With indentation
  - The same scope executed under the previous indentation

```python
x = int(input("enter x:"))
if x > 1.5:
  x = x *x
  print(x)
else:
  x = x-x
  print (x)
```

In [15]:
x = int(input("enter x:"))
if x > 1.5:
  x = x *x
  print(x)
else:
  x = x-x
  print (x)

25

### If-Else-If

Multiple conditions can be chained with elif ("else if")

> if **condition**:
>
> ​	**statements**
>
> elif **condition**:
>
> ​	**statements**
>
> else:
>
> ​	**statements**

![download (5)](./assets/download(5).png)

####

#### Task

Write a Python program that asks for the gpa and show the output regarding to the input gpa

if gpa >= 3 , "Accepted"

if 2.5 <=gpa < 3 , "Condition Accepted"

if gpa<2.5, "Rejected"

In [16]:
def determine_status(gpa):
    if gpa >= 3:
        return "Accepted"
    elif 2.5 <= gpa < 3:
        return "Conditionally Accepted"
    else:
        return "Rejected"

def main():
    try:
        gpa = float(input("Please enter your GPA: "))
        status = determine_status(gpa)
        print("Status:", status)
    except ValueError:
        print("Invalid input! Please enter a valid GPA.")

if __name__ == "__main__":
    main()

Status: Accepted

## Repetition

Sometimes we need to do the same behavior until we get our expected result.

That is the repetition

The repetition can be done regarding the **times** or to **achieve** something

### Counting Loop

for loop: Repeats a set of statements over a group of values.

Syntax:

for **variableName** in **groupOfValues**:

​	**statements**

- We indent the statements to be repeated with tabs or spaces.
- **variableName** gives a name to each value so that you can refer to it

You can try this given code

```python
for x in range(1, 6):
    print (x, "squared is", x * x)
```

In [17]:
for x in range(1, 6):
    print (x, "squared is", x * x)

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

**What is range??**

It is a function specifies a range of integers

`range(start, stop)` - the integers between `start` (inclusive) and stop (exclusive)

try

```python
x = range(1,6)
print(*x)
```

In [18]:
x = range(1,6)
print(*x)

1 2 3 4 5

It can also accept a third value specifying the change between the value

```
range(start, stop, step)` - the integers between `start` (inclusive) and `stop` (exclusive) by `step
```

Try

```python
y = range(5,0,1)
print (*y)
```

In [19]:
y = range(5,0,1)
print (*y)

### Cumulative loop

Some loops incrementally compute a value that is initialized outside the loop. This is sometimes called a *cumulative sum*.

What will be the output of this code

```python
sum = 0
for i in range(1, 5):
    sum = sum + (i * i)
print ("sum of first 5 squares is", sum)
```

Then try the code

In [20]:
sum = 0
for i in range(1, 5):
    sum = sum + (i * i)
print ("sum of first 5 squares is", sum)

sum of first 5 squares is 30

### Condition Loop

The loop runs until the condition is false

**while** loop:

- Executes a group of statements as long as a condition is True.
  - good for *indefinite* loops (repeat an **unknown** number of times)

Syntax:

> while  **condition**:
>
> ​	**statements**

Try to calculate this by hand

```python
number = 1
while number < 2:
  print(number)
  number = number *2
```

Then code

In [21]:
number = 1
while number < 2:
  print(number)
  number = number *2

1

### Task

create an application which receive the number, and it will print the number the user input.

The process will run again and again until -1 is put.

In [22]:
def main():
    while True:
        try:
            number = int(input("Please enter a number (-1 to exit): "))
            if number == -1:
                print("Exiting the application.")
                break
            print("You entered:", number)
        except ValueError:
            print("Invalid input! Please enter a valid number.")

if __name__ == "__main__":
    main()

You entered: 5
You entered: 6
You entered: 4
Exiting the application.

# String Data Type

A sequence of text characters in a program

Strings start and end with quotation mark " or apostrophe ' characters.

> "hello"
>
> "This is a string"
>
> "This, too, is a string. It can be very long"

Then try to create strings

```python
x = "hello"
x
```

In [23]:
x = "hello"
x

'hello'

```python
print(x)
```

In [24]:
print(x)

hello

Try to create string

```python
"hello 'world'"
```

In [25]:
"hello 'world'"

"hello 'world'"

> A string may not span across multiple lines or contain the same quote character

"This is not

a legal String."

"This is not a "legal" String either."

## Escape character

Some escape characters

- the character which we could see directly

- `\t` tab character
- `\n` newline character
- `\"` quotation mark character
- `\\` backslash character

What do you think it will be?

```
Hello\tthere\nHow are you?
```

then try

In [27]:
Hello\tthere\nHow are you?

Object `you` not found.

How about creating a character which will show

' This is the

test of the escape character, which will show '"

and the \t '

However, we can use `'''` to wrap around the text which contain an escape character. try

```python
ex = '''
This is
a book
name y
'''
print(ex)
```

check the content in side

```python
ex
```

In [28]:
ex = '''
This is
a book
name y
'''
print(ex)

This is
a book
name y

The string is the sequence of character

aka **Array** of character

for example:

```python
name = "P. Diddy"
```

In [29]:
name = "P. Diddy"

| index     | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 |
|-----------|---|---|---|---|---|---|---|---|
| character | P | . |   | D | i | d | d | y |

> To access the individual character of a string
>
> ​		**variableName** [**index**]

try

```python
print(name, "starts with", name[0])
```

In [30]:
print(name, "starts with", name[0])

P. Diddy starts with P

What if I want to show `i`,

write the code to show i in the name

In [31]:
print(name, "starts with", name[4])

P. Diddy starts with i

## String properties

There are functions and string functions that can get some data or manipulate the string

### General function

The function which has been created (mainly by the Python creator, or other programmers) which returns something

`len` function

search for the description?

### Object functions

Some python variables are objects.

The object contains it's group of data

and also its own function (in this case, mostly call as methods)

> the format of usage is


> variable_name.function_name(input variable if any)

check

String function

- `lower()`
- `upper()`

Try the code

```python
name = "Pita KK"
length = len(name)
big_name = name.upper()
print(big_name,"has",length,"characters")
```

In [32]:
name = "Pita KK"
length = len(name)
big_name = name.upper()
print(big_name,"has",length,"characters")

PITA KK has 7 characters

## Text Processing

- Examining, editing, and formatting text.
- Often uses loops that examine the characters of a string one by one

> A for loop can examine each character in a string in sequence.

```python
for c in "booyah":
  print (c)
```

In [33]:
for c in "booyah":
  print (c)

b
o
o
y
a
h

## ASCII Table

all data is mapped to a number

- The computer does not save the character as the character
- It saves as a number
- Encode the data

Then decode the number to the value

One of the most famous character encoders is ASCII

> American Standard Code for Information Interchange

- first published on 1963
- the latest version is 1986

![File:ASCII-Table-wide.svg](./assets/800px-ASCII-Table-wide.svg.png)

## String and number

Search for

> function `ord(text)`
>
> Example: `ord("a") is 97, ord("b") is 98, ...`

- Characters map to numbers using standardized mappings such as ASCII and Unicode

Search for

> function `chr(number)`

```python
chr(99) is "c"
```
###

### Task

Write a program to print A to Z

try to minimize your code as much as possible

In [34]:
print(' '.join(chr(i) for i in range(65, 91)))

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

# Function

Putting a code into a set of call

- may required parameter
- return only one values
  - can be a single value
  - object values

```python
print("h","y","z")
```

In [35]:
print("h","y","z")

h y z

## Encapsulating code with functions

Functions are useful for gathering similar pieces of code in one place. Consider the following mathematical function.
$$
x \rightarrow f(x):= 2x + 1
$$
The Python equivalent is as follows:

```python
def f(x):
  return 2*x + 1
```

In [36]:
def f(x):
  return 2*x + 1

```python
f(2)
f(1)
```

In [37]:
f(2)
f(1)

3

```python
x = f(11)
```

In [38]:
x = f(11)

```python
f = 5
f(5)
```

In [39]:
f = 5
f(5)

TypeError: 'int' object is not callable

```python
input = input('text')
print(input)
```

In [40]:
input = input('text')
print(input)

asdfd

- The keyword `def` tells Python we are defining a function.
- `f` is the name of the function.
- `x` is the argument, or input of the function.
- What is after `return` is called the output to the function.

![download (6)](./assets/download(6).png)

### Task

Write the function for
$$
f(x) = x^2 + 0.25x -5
$$
Then write the code to receive 2.3 as an input parameter and show the result

In [41]:
def f(x):
    return x**2 + 0.25*x - 5

def main():
    x = 2.3
    result = f(x)
    print("f(2.3) =", result)

main()

f(2.3) = 0.8649999999999993

### Task 2

define the price with Vat function.

The function recieve the price of the item. Then return the price which has add the Vat with in.

then after creating the function, write the code snippet to receive the name, and price of the item. then print out the name of the item and the price with vat

In [55]:
def price_with_vat(price):
    vat_rate = 0.20  # Assuming a VAT rate of 20%
    return price * (1 + vat_rate)

def main():
    item_name = input("Enter the name of the item: ")
    try:
        item_price = float(input("Enter the price of the item: "))
        total_price = price_with_vat(item_price)
        print(f"The price of {item_name} with VAT included is: {total_price:.2f}")
    except ValueError:
        print("Invalid input! Please enter a valid number for the price.")

if __name__ == "__main__":
    main()

TypeError: 'str' object is not callable