# Combine and Merging Datasets

data contained can be combined together in a number of ways

## Database-Style Dataframe joins


The same key data are bound.
Look at the example

In [ ]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

```python
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df1
```

```python
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                    'data2': range(3)})
df2
```

To merge two Dataframe with the same index 
```python
pd.merge(df1,df2)
```

Without setting anything. The key will used from the columns which is the same name in both data frame. The values which are the same in both data are provided, and the Cartesian products of the other values are provided as the data.

It should be better if we specified the key name

```python
pd.merge(df1,df2,on='key')
```

we can merge on the different column name

```python
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],
                    'data2': range(3)})
```

### Work
Form the given /file/studentlist.xlsx
It is the Excel which provide the score of the students.
Create the data frame which consist of the total score of Attendance(Midterm) score,and midterm score
-> to get the new dataframe from the old dataframe column you may use this code
` new = old[['A', 'C', 'D']].copy() `
to change the specific column name you may use
` rankings_pd.rename(columns = {'test':'TEST'}, inplace = True)`
note: you do not have to set the student id column to be the index in this work

Check df3 and df4
```python
df3
```

```python
df4
```

then try to merge df3 and df4
```python
pd.merge(df3,df4)
```

You may see that it's could not merge as there is no column which are the same key name.
We can specify the column name which can be merge using the different name with the `left-on` and `right_on` argument
```python
pd.merge(df3, df4, left_on='lkey', right_on='rkey')
```

or 
```python
pd.merge(df4, df3,  right_on='lkey',left_on='rkey')
```

You may see that c, and d is removed as it's not in the left data frame

To use all data we use the outer argument
```python
pd.merge(df1,df2,how='outer')
```

You may try other argument to see the different
![image-20230915053652812](./assets/image-20230915053652812.png)

inner join is the intersection of the data
```python
pd.merge(df1,df2,how='inner')
```

left join is the left data frame
```python
pd.merge(df1,df2,how='left')
```

we can merge with multiple keys by passing a list of columns
try to create this given data frame
```python
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                     'key2': ['one', 'two', 'one'],
                     'lval': [1, 2, 3]})
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                      'key2': ['one', 'one', 'one', 'two'],
                      'rval': [4, 5, 6, 7]})
```

then try to merge with the multiple keys
```python
pd.merge(left,right,on=['key1','key2'],how='outer')
```

Some time if the name of the column may be collapse. (Same column name, but not the key)
You may change the name of the column before merging directly, or you can set the suffix column
the example of the problem is shown
```python
pd.merge(left, right, on='key1')
```

the suffixes can be set by the `suffixes` argument
```python
pd.merge(left, right, on='key1', suffixes=('_left', '_right'))
```

### Work
The students have been withdrawn so they do not have the score, in addition the staff change some of the index name.
So please try to add the attendance midterm score to the previous pandas

## Merging by index

Some time you may found that the part you want to merge is the index.
You can set the `left_index=True` or `right_index=True` to indicate that you need to use the index as the merge key

try this source code
```python
left1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],
                      'value': range(6)})
right1 = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])
```

then try to merge with the index
```python
pd.merge(left1, right1, left_on='key', right_index=True)
```

the how can be applied as the same as the normal merge
```python
pd.merge(left1, right1, left_on='key', right_index=True,how ='outer')
```

With hierarchically index, joining on index can be used as multiple-key merge
```python
lefth = pd.DataFrame({'key1': ['Ohio', 'Ohio', 'Ohio',
                               'Nevada', 'Nevada'],
                      'key2': [2000, 2001, 2002, 2001, 2002],
                      'data': np.arange(5.)})
righth = pd.DataFrame(np.arange(12).reshape((6, 2)),
                        index=[['Nevada', 'Nevada', 'Ohio', 'Ohio',
                                'Ohio', 'Ohio'],
                                 [2001, 2000, 2000, 2000, 2001, 2002]],
                        columns=['event1', 'event2'])
 ```

The merge with multiple column can be set with the column, and the key index
```python
pd.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True)
```

with the `outer` join all data will be merged
```python
pd.merge(lefth, righth, left_on=['key1', 'key2'],
         right_index=True, how='outer')
```

### Work
now setting the index to the Dataframe which we have done so far.
then add the rest of the score so that we can handle the overall score with in Dataframe

Now find the name of the students whose name is in the top 10 of the total score.

## Concatenating Along an Axis

Concatenating data is to concat data to the same data.

An Axis mean concat the column data

In NumPy concatenate data concate it in each columns as shown in example

```python
arr = np.arange(12).reshape((3, 4))
arr
```

We can concat the arrays by using the `np.concatenate` function
```python
np.concatenate([arr, arr])
```

we can concatenate the array in the different axis by passing the axis argument
```python
np.concatenate([arr, arr], axis=1)
```

In Pandas, there are many concerns before concatination

* If the objects are indexed differently on the other axes, should we combine the distinct elements in these axes or use only the shared values (the intersection)?
* Do the concatenated chunks of data need to be identifiable in the resulting object?
* Does the “concatenation axis” contain data that needs to be preserved? In many cases, the default integer labels in a DataFrame are best discarded during concatenation.

try creating a series

```python
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])
```

Then try the simple concat
```python
pd.concat([s1, s2, s3])
```

and then concat on Axis
```python
pd.concat([s1, s2, s3], axis=1)
```

You may name each of the columns by the key column
```python
pd.concat([s1, s2, s3], axis=1, keys=['one', 'two', 'three'])
```

You may notice that each series are concat as a new column.

This we can say as the union case as the data that combined all data (and NaN has been added to complete the data series)

To intersect them, you may passing `join='inner'`

see the following example
```python
s4 = pd.concat([s1, s3])
s4
```

if we concat in the different axis
```python
pd.concat([s1, s4], axis=1)
```

then try the inner join
```python
pd.concat([s1, s4], axis=1, join='inner')
```

we can provide the hierarchical index of the search as given
```python
result = pd.concat([s1, s1, s3], keys=['one', 'two', 'three'])
result
```

we also use the unstack() to show all data
```python
result.unstack()
```

### Work
It's happen that there are other sections score in the class. The files/studentlist2.xlsx provide the score for the second section. merge the data from two file to only one dataframe to find out the descriptive statistic of all the students.

The teacher is very funny, they will random the score for all the students, create a new dataframe which provide the random score from 1 to the maximum score we can get from all students.
then merge the score to the student, and calculate the new score of all the student. then set the grade of the student by who get the grade less than 80 will get `F` otherwise will get `A`

## Combine Data with Overlap



The data con be merse if there are overlap in full or part

In [ ]:
a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan],
              index=['f', 'e', 'd', 'c', 'b', 'a'])
b = pd.Series(np.arange(len(a), dtype=np.float64),
              index=['f', 'e', 'd', 'c', 'b', 'a'])

Combine the series using the if else expression.
Let's try
```python
np.where(pd.isnull(a),b,a)
```

try vice versa
```python
np.where(pd.isnull(a),a,b)
```

`combine_first` combine the data the series
```python
b[:-2].combine_first(a[2:])
```

`combine_first` for the Dataframe will do the same thing but with all column by column.

It is similar to *patching* the data (replace the data in `NaN` position.

In [ ]:
df1 = pd.DataFrame({'a': [1., np.nan, 5., np.nan],
 'b': [np.nan, 2., np.nan, 6.],
 'c': range(2, 18, 4)})
df2 = pd.DataFrame({'a': [5., 4., np.nan, 3., 7.],
 'b': [np.nan, 3., 4., 6., 8.]})
df1

try
```python
df1.combine_first(df2)
```

```python
df2.combine_first(df1)
```

# Reshaping and Pivoting

## Reshaping with Hierachical Indexing

Using the Hierarchical Indexing can reshape data in different way

The operations we can use are



*   `stack` rotate or pivots from the columns in the data to the rows
*   `unstack` privots from the rows into the columns

In [ ]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)),
    index=pd.Index(['Ohio', 'Colorado'], name='state'),
    columns=pd.Index(['one', 'two', 'three'],
    name='number'))
data

Using the `stack` to pivot the columns into the rows, produce a serie from the data frame

```python
result = data.stack()
result
```

from hierachically indexed Series, we can rearrange into a DataFrame with `unstack`
```python
result.unstack()
```

By the default the innermost level is unstacked, we can unstadck the different level by pasing the level name.
```python
result.unstack('state')
```

unstack may introduce the missing data if all of the value in the level is ont found in each group

In [ ]:
s1 = pd.Series([0, 1, 2, 3], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([4, 5, 6], index=['c', 'd', 'e'])
data2 = pd.concat([s1, s2], keys=['one', 'two'])
data2

try to do unstack
```python
data2.unstack()
```

Stacking filter out the missing data by default, to preseved the na when unstack `dropna=False ` is required
```python
data2.unstack().stack()
```

when using the dropna
```python
data2.unstack().stack(dropna=False)
```

When you unstack in a DataFrame, the **level unstacked** becomes the lowest level in the result
```python
df = pd.DataFrame({'left': result, 'right': result + 5},
                  columns=pd.Index(['left', 'right'], name='side'))
df
```

try
```python
df.unstack('state')
```

we may use the state to stack the side
```python
df.unstack('state').stack('side')
```

# Work

From the three files provided [here](https://github.com/jakevdp/data-USstates/)

1. Bind all data to get the data frame which have the state/ abbreviation, and area(sq.mi)
2. Bind the data to get the State, age, and population
3. Create the multiple hierachy dataframe, which contains the age as sub hierachy. The column should be the year and population, and the year must be order.

1. Bind all data to get the data frame which have the state/ abbreviation, and area(sq.mi)

2. Bind the data to get the State, age, and population

3. Create the multiple hierachy dataframe, which contains the age as sub hierachy. The column should be the year and population, and the year must be order.